/* MAIN SECTION */

body {
    font-family: sans-serif;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}
.header h2 {
    color: slateblue;
}
.header p {
    font-size: 1.5rem;
    font-weight: 700;
}
.header strong {
    color: slateblue;
}

label {
    margin-right: 20px;
}
/* FORMULARZ */

.content {
    display: flex;
    justify-content: center;
    padding: 40px 0 110px 0;
 
}

.registerSpan {
    font-size: 3rem;
    font-weight: 700;
    color: slateblue;
    display: flex;
    justify-content: center;
  
}



#filtrForm {
    position: relative;
    right: -500px;
}
/*Search bar*/
#filtrInput {
    width: 400px;
    font-size: 1rem;
    padding: 0 10px;
    border: 1px solid #D0CFCE;
    height: 45px;
    border-radius: 0;
}
#filtrInput:focus {
    transition: 0.35s ease;
    color: slateblue;
}

#filtrButton {

    padding: 0 10px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    color: white;
    position: relative;
    left: -70px;
    bottom: -30px;
    cursor: pointer;
}
.search-icon {
    height: 4.5rem;
    width: 4.5rem;
}
.workers {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(53, 55, 76);
    letter-spacing: 2.5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.btn {
    width: 150px;
    height: 50px;
    background-color: rgb(102, 222, 233);
    border: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.2s ease;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.btn.editForm {
   width: 120px;
}

.btn.array {
   margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.btn.array.edit {
     background-color: #eaab2a;
}
.btn.array.edit:hover {
     background-color: orange;
 }
 .btn.array.delete {
     background-color: rgb(232, 128, 128);
}
.btn.array.delete:hover {
     background-color: rgb(255, 0, 0);
 }
.btn a {
    text-decoration: none;
    margin: 0;
}

.btn:hover {
    background-color: rgba(102, 222, 233, 0.8);
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
}
#toggleFormBtn {
    margin-top: 40px;
}
.btn.add {
    margin: 100px 0 0 0;
    width: 20%;
}

.btn.usun {
    margin-top: 30px;
    width: fit-content;
    padding: 10px 30px;
}

.buttony {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100px;

}
.buttony .btn.usun {
    margin-top: 0;
}


#del {
    background-color: palevioletred;
}
#keep {
    background-color: rgb(53, 55, 76);
}
#back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 88, 109);
    border-radius: 5px;
    color: white;

}
#res, .resetForm {
    background-color: aliceblue;
    color: rgb(43, 45, 66);
}
.resetForm:hover {
    background-color: #eef0f3;
}


#usuwanieDanychPracownika {
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.add {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.msg {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    border-radius: 5px;
}



/* FORMULARZ */


.sumaKolumn {
    background-color: rgb(8, 248, 248);
    font-weight: 700;
}
.sumaWiersz {
    background-color: rgb(8, 248, 248);
    font-weight: 700;
}

#allSum {
    background-color: rgb(41, 221, 221);
}
/* TABELA */

.students-table {
    color: slateblue;
    border-collapse: collapse;
    line-height: 50px;
    width: 75%;
    border-spacing: 0;
    border-bottom: 2px solid slateblue;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
}

.students-table caption {
    font-size: 2.5rem;
    padding: 30px;
}
.students-table caption:first-letter {
    font-size: 4rem;
    
}
.students-table tr {
    border-bottom: 2px solid slateblue;
}
.students-table thead {
    border-bottom: 3px solid rgb(45, 16, 240);
}
.students-table tr {
    padding: 12px;
}

.students-table tr:nth-child(2n) {
    background-color: rgba(161, 251, 251, 0.24);
}
.students-table tbody tr:last-child {
    border-bottom: 3px solid slateblue;
}
.students-table #mean-of-students-text {
    padding-left: 20px;
    text-align: left;
    font-weight: 700;
}
.students-table #mean-of-students-number {
    background-color: aliceblue;
}

.students-table td.zaznaczona {
    background-color: #ffc891;
}

.students-table a {
    text-decoration: none;
    color: slateblue;
    font-weight: 700;
    font-size: 1.2rem;
}

/* -------------------------------------------------- */
/* Style komunikatów */
/* -------------------------------------------------- */


.success {
    background-color: #c5ffc7;
    border: 1px solid #4ecc52;
}
.info {
    background-color: #dadfff;
    border: 1px solid #6d7fff;
}

.warn {
    background-color: #fffdc2;
    border: 1px solid #fdd014;
}
.error {
    background-color: #ffd7df;
    border: 1px solid #ff7171;
}
.def {
    background-color: #f0f0f0;
    border: 1px solid #bababa;
}

.error-messages {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.pictureImageThumb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.imagesAndForm {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.biggerImage {
    position: absolute;
    top: -100px;
    right: -85px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}


.login-box {
    width: 500px;
    padding: 40px;
    background-color: rgba(43, 45, 66, 0.90);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    margin: 50px 0;
    position: relative;
}
#editt {
    margin-top: 150px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box input:not(:placeholder-shown) ~ label
{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

